.node-type-product-display{
  .node--product-display--full{
    float: left;
    width: 100%;
    clear: both;
    .node__content{
      float: left;
      width: 100%;
    }
    .commerce-product-field {
      float: left;
      width: 60%;
    }
    .commerce-product-field-field-product-images{
      width: 40%;
    }
    .field--name-body{}
    .commerce-product-field-commerce-price{}
    .field--name-field-product-categories{}
    .field--name-field-product-reference{}
  }
}


.section-product-category{
  article{
      padding: 0;
      float: left;
      clear: none;
      width: 100%;
      @include breakpoint($tablet){
        width: 47%;
        margin-right: 1em;
        float: left;
      }
      @include breakpoint($desktop){
        width: 30%;
      }
      margin: 0;
      margin-bottom: 1.8em;
      border: 1px solid #999;
      background-color: #ccc;
      
      h2{
        text-align: center;
        background: #333;
        color: #fff;
        margin: 0;
        vertical-align: middle;
        padding: 0.5em;
        margin-bottom: 0.5em;
        font-size: 1.1em;
        a{
          vertical-align: middle;
          display: block;
          margin: 0;
          padding: 0;
          text-decoration: none;
          color: #fff;
        }
        a:hover{
          text-decoration: underline;
        }
      }
      
      margin: 0.6em;
      border: 1px solid #999;
      background-color: #fff;

      .node__content{
        float: left;
        width: 100%;
        background-color: #fff;
        margin-bottom: 0.6em;
        .commerce-product-field{
          float: left;
        }
        .field--name-commerce-price{
          font-size: 1.5em;
          margin-left: 1em;
        }
      }
  }
    
}