/* No files to import found in abstractions/**\/* */
/* line 2, ../sass/base/_main.scss */
.maintenance-page.in-maintenance {
  background: #f3f3f3;
}
/* line 7, ../sass/base/_main.scss */
.maintenance-page.in-maintenance #branding {
  background: #f3f3f3;
  margin-bottom: 15px;
}
/* line 12, ../sass/base/_main.scss */
.maintenance-page.in-maintenance #branding h1 {
  color: black;
  font-size: 1.5em;
  text-align: center;
}
/* line 19, ../sass/base/_main.scss */
.maintenance-page.in-maintenance #page {
  position: relative;
  z-index: 1;
  border: 1px solid #DBDADA;
}
/* line 24, ../sass/base/_main.scss */
.maintenance-page.in-maintenance #page #sidebar-first {
  padding: 20px 10px;
  top: 0px;
  bottom: 0px;
  left: 0px;
}
/* line 29, ../sass/base/_main.scss */
.maintenance-page.in-maintenance #page #sidebar-first #logo {
  display: block;
  margin: auto;
}
/* line 34, ../sass/base/_main.scss */
.maintenance-page.in-maintenance #page #sidebar-first:before {
  content: "";
  background: #32323A;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 220px;
}
/* line 47, ../sass/base/_main.scss */
.maintenance-page.in-maintenance #page #sidebar-first ol.task-list li {
  color: white;
}
/* line 50, ../sass/base/_main.scss */
.maintenance-page.in-maintenance #page #sidebar-first ol.task-list li.done {
  background: none;
  border-left: 3px solid #66bd78;
}
/* line 54, ../sass/base/_main.scss */
.maintenance-page.in-maintenance #page #sidebar-first ol.task-list li.active {
  background: #212026;
  border-left: 3px solid #66bd78;
}
/* line 61, ../sass/base/_main.scss */
.maintenance-page.in-maintenance #page #content {
  width: 510px;
}

/* line 2, ../sass/components/_buttons.scss */
.maintenance-page.in-maintenance .form-submit {
  background: none;
  font-size: 14px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF337AB7', endColorstr='#FF1D4567');
  background-color: #337ab7;
  border: 0;
  color: white;
  text-shadow: #173853 0 -1px 0;
}
/* line 15, ../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.maintenance-page.in-maintenance .form-submit:hover {
  text-decoration: none;
}
/* line 42, ../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.maintenance-page.in-maintenance .form-submit:hover {
  background-color: #2d6da3;
}
/* line 44, ../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.maintenance-page.in-maintenance .form-submit:active {
  background-color: #2a6597;
}
/* line 6, ../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.maintenance-page.in-maintenance .form-submit.disabled, .maintenance-page.in-maintenance .form-submit[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: false;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.maintenance-page.in-maintenance .form-submit::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
